<table class="table table-striped">
<ul class="nav nav-tabs nav-justified">
  <li class="<%= "active" if params[:tab].nil? %>"><%= link_to "Active", students_path, class: "green" %></a></li>
  <li class="<%= "active" if params[:tab] == "archived" %>"><%= link_to "Archived", students_path(nil, tab: "archived"), class: "green" %></a></li>
  <li class="<%= "active" if params[:tab] == "all" %>"><%= link_to "All", students_path(nil, tab: "all"), class: "green" %></a></li>
<ul>
  <tr>
    <th>Student Name</th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td class='col-sm-7'><%= link_to student.full_name, student.family, class: "green no-decor" %></td>
      <td>
        <%= button_to "Edit", edit_student_path(student), class: "btn btn-info btn-xs col-sm-2", method: :get %>
        <%= button_to student.archived ? "Unarchive" : "Archive", archive_student_path(student, tab: params[:tab]), class: "btn btn-xs btn-warning", remote: :true %>
      </td>
    </tr>
  <% end %>
</table>
